

@using (Html.BeginForm())
{
    <div class="column" align="center">
        <div>
            <span class="input-group-addon">First Name</span>
            @Html.TextBox("model.PlayerViewModel.Name", null, new { @class = "form-control", style = "width:200px;" })
        </div>
        <div>
            <span class="input-group-addon">Last Name</span>
            @Html.TextBox("model.PlayerViewModel.LastName", null, new { @class = "form-control", style = "width:200px;" })
        </div>
        <div>
            <span class="input-group-addon">DateOfBirth</span>
            <br/>
            <input type="date" "model.PlayerViewModel.DateOfBirth" style="width: 200px; height: 33.5px;  border: 1px solid #ced4da;" />

        </div>
        <div>
            <span class="input-group-addon">Value</span>
            @Html.TextBox("model.PlayerViewModel.Value", null, new { @class = "form-control", style = "width:200px;" })
        </div>

    </div>
    <br />
    <div align="center">
        <button class="btn btn-danger" type="submit">Create</button>
    </div>


}