@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Teams Application</h1>
    <p>Manage your teams in the easiest and fastest way possible!</p>
</div>
